<nav>
      <form [formGroup]="form">
        <input-tag formControlName="tag" ></input-tag>
        <button class="button-load" #buttonDownload [disabled]="isLoad$ "  type="submit">
       
                <span *ngIf="!isLoad$  else loading"> download</span>
                <ng-template #loading>
                         <span>loading</span>
                 </ng-template>

        </button>
  
        <button class="button-clear" (click)="clearEvent()"> clear</button>
        <button class="button-group" (click)="toggleEvent()">

                <span *ngIf="!toggler  else ungroup"> group</span>
                <ng-template #ungroup>
                         <span> ongroup </span> 
                </ng-template>

        </button>
</form>
</nav>