/* You can add global styles to this file, and also import other style files */
button{
    border: none;
    border-radius: 5px;
    max-width: 85px;
    width: 100%;
    outline: none;
    padding: 4px 8px;
    cursor: pointer;
   
}